* {
    font-family: 'Courier New', Courier, monospace;

}

body {
    margin: 2rem auto;
    padding: 2rem;    
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    margin-bottom: 3rem;
    font-size: 3rem;
}

h2{
    font-size: 2rem;
}

.search-area {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 2rem;
}

#product-search-input {
    width: 350px;
    height: 40px;
    font-size: 1rem;
    word-spacing: 2px;
    margin: 1rem;
}


#search-button{
    width: 120px;
    height: 50px;
    font-size: 1.25rem;
    font-weight: 900;
    border: none;
    margin: 1rem;
}

.result-area {
    width: 70%;
}

#item-list {
    display: flex;    
    flex-direction: column;
    text-align: left;
    font-size: 1rem;
    width: 100%;
    /* margin: 2rem; */
}

ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    text-align: left;
    padding: unset;
}

li {
    list-style: none;
}

h3 {
    /* position: absolute; */
    float: left;
}

h4 {
    float: right;
    padding-left: 1.5rem;
    color: rgb(39, 39, 39);
}

button {
    float: right;
}

