@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;600;900&display=swap");
:root {
  --color-primary-blue: #12086e;
  --color-primary-purple: #543586;
  --color-secondary-purple: #b294e2;
  --color-bg-darkgray: #373638;
}

* {
  font-family: "Cairo", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

body {
  background: linear-gradient(
    to right,
    var(--color-primary-blue),
    var(--color-primary-purple)
  );
}

.resume {
  width: min(80%, 70.5rem);
  min-height: 100%;
  background: #fff;
  margin: 25px auto;
  display: flex;
}

nav {
  width: 100%;
  height: auto;
  display: contents;
}

.contact-info {
  background: var(--color-bg-darkgray);
  width: 30%;
  padding: 0 20px;
}

.detailed-info {
  width: 100%;
  height: 100%;
}

.contact-info .img-holder {
  text-align: center;
  padding: 20px 0;
}

.contact-info .img-holder img {
  width: 150px;
  border-radius: 30px;
}

.pb {
  padding-bottom: 20px;
}

.title {
  font-size: 2em;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 5px;
  padding-bottom: 10px;
  color: #fff;
  position: relative;
  text-align: center;
  margin-bottom: 15px;
}

.title:before {
  content: "";
  position: absolute;
  top: 50px;
  width: 5em;
  background: #fff;
  border-style: solid;
}

.contact-info .icon {
  font-size: 25px;
  color: var(--color-primary-blue);
}

.contact-info .text {
  color: #fff;
  text-transform: uppercase;
  font-size: 1em;
}

.contact .li-wrap {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 15px;
}

.contact .li-wrap .icon {
  width: 50px;
  height: 50px;
  background: #fff;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 5px;
  text-decoration-line: none;
}

.contact .li-wrap .text {
  width: calc(100% - 50px);
  margin-left: 10px;
  color: #fff;
}

.personal-info {
  background: var(--color-bg-darkgray);
  padding: 10px 20px 20px 20px;
}

.personal-info .name {
  color: #fff;
  height: 50px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: left;
  letter-spacing: 5px;
  margin-bottom: 10px;
}

.personal-info .jobtitle {
  font-size: 1em;
  color: #fff;
  text-align: left;
  margin-top: 5px;
}
.personal-info p {
  color: var(--color-secondary-purple);
}

.detailed-info-bottom {
  width: 100%;
  height: 100%;
  padding-right: 10px;
}

.experience,
.education,
.hobby {
  width: 100%;
  position: relative;
  display: block;
}

.exp-title,
.edu-title,
.hby-title {
  color: var(--color-primary-blue);
  font-weight: 900;
  font-size: 2em;
  text-align: right;
  letter-spacing: 5px;
  text-transform: uppercase;
  padding-top: 10px;
  position: relative;
}

.exp-title::before,
.edu-title::before,
.hby-title::before {
  content: "";
  position: absolute;
  top: 60px;
  right: 0;
  width: calc(100% - 6px);
  background: var(--color-primary-blue);
  border-style: solid;
}

.exp-wrap {
  padding-left: 10px;
}

.exp-wrap .work-period-position {
  text-align: left;
  display: flex;
  color: var(--color-primary-purple);
  font-weight: 600;
  font-size: 1.125em;
  align-content: space-between;
}

.exp-wrap .work-period-position h3 {
  color: var(--color-primary-purple);
  font-size: 1em;
  display: inline-block;
  padding-right: 20px;
}

.exp-wrap .work-period-position h2 {
  color: var(--color-primary-purple);
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1.25em;
  display: inline-block;
}

.exp-wrap .info-container,
.edu-info-container {
  width: 100%;
  position: relative;
  padding-left: 20%;
}

.info-cont {
  padding-left: 20px;
}

.info-cont li {
  list-style-type: disc;
}

.exp-wrap .info-container p {
  font-weight: 300;
  font-size: 1em;
  color: var(--color-primary-blue);
}

.exp-wrap .info-container .info-cont {
  color: var(--color-bg-darkgray);
  margin-right: 1rem;
  margin-bottom: 1rem;
}

.exp-wrap .edu-info-container p {
  font-weight: 300;
  font-size: 1em;
  color: var(--color-primary-blue);
}

.hby-wrap {
  display: block;
  text-align: center;
}

.hby-wrap ul {
  display: flex;
  justify-content: space-around;
}

.hby-list {
  align-items: center;
}

.hby-icon {
  font-size: 3em;
  text-align: center;
}
.hby-name p {
  font-size: 0.4em;
}

footer {
  background: var(--color-bg-darkgray);
  /* width: min(80%, 70.5rem); */
  height: 2%;
  color: #fff;
  text-align: center;
}

@media only screen and (max-width: 900px) {
  .resume {
    width: 100%;
    height: 100%;
  }

  .personal-info .name,
  .title {
    font-size: 1.7em;
  }

  .personal-info p {
    font-size: 0.75em;
  }

  .contact .li-wrap .text {
    font-size: 0.8em;
  }

  .exp-title,
  .edu-title,
  .hby-title {
    font-size: 1.7em;
  }

  .exp-title::before,
  .edu-title::before,
  .hby-title::before {
    top: 50px;
  }

  .exp-wrap .info-container .work-period-position {
    font-size: 1em;
  }

  .exp-wrap .info-container .info-cont {
    font-size: 0.8em;
  }

  .hby-icon {
    font-size: 1.5em;
  }

  .contact .li-wrap .icon {
    width: 30px;
    height: 30px;
    font-size: 1.25em;
  }
}

@media (max-width: 768px) {
  .resume {
    flex-direction: column;
  }

  nav,
  .contact-info {
    width: 100%;
  }

  header {
    display: flex;
  }

  .img-holder {
    display: none;
  }

  .title:before {
    width: 5em;
  }

  .exp-title,
  .edu-title,
  .hby-title {
    font-size: 1.4em;
    padding-right: 25px;
  }

  .exp-wrap .work-period-position {
    margin-top: 10px;
    font-size: 0.8em;
  }

  .exp-wrap .info-container,
  .edu-info-container {
    width: 100%;
    padding: 0;
  }
  .detailed-info {
    width: 100%;
  }
}

@media (max-width: 450px) {
  nav {
    display: inline-flexbox;
  }

  main {
    width: 100%;
  }

  .title:before {
    width: 5em;
  }

  .exp-title,
  .edu-title,
  .hby-title {
    font-size: 1.25em;
    padding-right: 15px;
  }

  .exp-wrap .work-period-position {
    padding-top: 15px;
    font-size: 00.75em;
  }

  .exp-wrap .info-container,
  .edu-info-container {
    padding: 0;
  }

  .exp-wrap .edu-info-container {
    font-size: 0.75em;
  }

  .hby-wrap ul {
    padding-top: 10px;
  }
}
