@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;600;900&display=swap');
:root {
    --color-primary-blue: #12086e;
    --color-primary-purple: #543586;
    --color-secondary-purple: #b294e2;
    --color-bg-darkgray: #373638;
}

* {
    font-family: 'Cairo', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;    
}

body {
    background: linear-gradient(to right, var(--color-primary-blue), var(--color-primary-purple));
}

.wrapper {
    width: 100%;
    height: 100%;
}

.resume {
    width: min(80%, 70.5rem);
    min-height: 100%;
    background: #fff;
    margin: 25px auto;
    display: flex;
}

.cont_wrapper {
    width: 100%;
    height: auto;
    display: flex;
    /* flex-direction: row-reverse; */
}

.cont_info {
    background: var(--color-bg-darkgray);
    width: 250px;
    padding: 0 20px;
}

.detailed_info {
    width: 100;
    height: 100%;
}

.cont_info .img_holder {
    text-align: center;
    padding: 20px 0;
}

.cont_info .img_holder img {
    width: 150px;
    border-radius: 30px;
}

.pb {
    padding-bottom: 20px;
}

.title {
    font-size: 2em;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 5px;
    padding-bottom: 10px;
    color: #fff;
    position: relative;
    text-align: center;
    margin-bottom: 15px;
}

.title:before {
    content: "";
    position: absolute;
    top: 50px;
    width:  75%;
    background: #fff;
    border-style: solid;
}


.cont_info .icon {
    font-size: 25px;
    color: var(--color-primary-blue);
}

.cont_info .text {
    color: #fff;
    text-transform: uppercase;
    font-size: 1em;
}

.contact .li_wrap {
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 15px;
}

.contact .li_wrap .icon {
    width: 50px;
    height: 50px;
    background: #fff;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 5px;
}

.contact .li_wrap .text {
    width: calc(100% - 50px);
    margin-left: 10px;
    color: #fff;
}

.header {
    background: var(--color-bg-darkgray);
    padding: 10px 20px 20px 20px;
}

.header .name {
    font-size: 2.5em;
    color: #fff;
    height: 50px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: left;
    letter-spacing: 5px;
    margin-bottom: 10px;
}

.header .jobtitle {
    font-size: 1em;
    color: #fff;
    text-align: left;
    margin-top: 5px;
}
.header p {
    color: var(--color-secondary-purple);
}

.information {
    display: flex;
    width: calc(100% - 250px);
}


.detailed_info_bottom {
    width: 100%;
    height: 100%;
    padding-right: 10px;
}

.experience, .education, .hobby{
    width: 100%;
    position: relative;
    display: block;
}

.exp_title, .edu_title, .hby_title {
    color: var(--color-primary-blue);
    font-weight: 900;
    font-size: 2em;
    text-align: right;
    letter-spacing: 5px;
    text-transform: uppercase;
    padding-top: 10px;
    position: relative;
}

.exp_title::before,
.edu_title::before,
.hby_title::before {    
    content: "";
    position: absolute;
    top: 60px;
    right: 0;
    width: calc(100% - 6px);
    background: var(--color-primary-blue);
    border-style: solid;
}

.exp_wrap {
    padding-left: 10px;
}

.exp_wrap .li_wrap {
    display: flex;
}

.exp_wrap .li_wrap .date {
    text-align: left;
    display: flex;
    width: 200px;
    color: var(--color-primary-purple);
    font-weight: 600;
    font-size: 1.125em;
}

.exp_wrap .info_container {
    width: 100%;
    position: relative;
    padding-left: 20px;
}

.exp_wrap .info_container .info_title {
    color: var(--color-primary-purple);
    font-weight: 600;
    text-transform: uppercase;
    font-size: 1.25em;
}

.exp_wrap .info_container .info_company {
    font-weight: 300;
    font-size: 1em;
    color: var(--color-primary-blue);
}

.exp_wrap .info_container .info_cont {
    color: var(--color-bg-darkgray);
    margin-right: 1rem;
    margin-bottom: 1rem;
}

.hby_wrap {
    display: block;
    text-align: center;
}

.hby_wrap ul {
    display: flex;
    justify-content: space-around;
}

.hby_list {
    align-items: center;
}

.hby_icon {
    font-size: 3em;
    text-align: center;
}
.hby_name p{
    font-size: 0.4em;
}

footer {
    background: var(--color-bg-darkgray);
    width: min(80%, 70.5rem);
    height: 5%;
    bottom: 0;
    color: #fff;
    position: absolute;
    text-align: center;
}
@media (max-width: 1330px) {
    .information {
        width: calc(100% - 250px);
    }
}

@media only screen and (max-width: 900px) {
    .resume  {
        width: 100%;
        height: 100%;
    }
    .cont_info {
        width: 210px;
    }
    .information {
        width: calc(100% - 210px);
    }

    .header .name, .title {
        font-size: 1.7em;
    }

    .header p {
        font-size: 0.75em;
    }

    .contact .li_wrap .text {
        font-size: 0.8em;
    }

    .exp_title, .edu_title, .hby_title {
        font-size: 1.7em;
    }

    .exp_title::before,
    .edu_title::before,
    .hby_title::before {
        top: 50px;
    }

    .exp_wrap .info_container .info_title  {
        font-size: 1em;
    }

    .exp_wrap .info_container .info_cont {
        font-size: .8em;
    }

    .hby_icon {
        font-size: 1.5em;
    }

    .contact .li_wrap .icon {
        width: 30px;
        height: 30px;
        font-size: 1.25em;
    }
  }

  @media (max-width: 768px) {
    .resume{
        display: flex;
    }

    .cont_info {
        display: flex;
        flex-direction: row-reverse;
    }

    .img_holder {
        display: none;
    }

    .detailed_info {
        width: 100%;
    }    
}

@media (max-width: 450px) {
    .cont_info .img_holder{
        display: none;
    }

    .information {
        width: 100%;
    }

    .contact_wrap {
        display: flex;
        flex-direction: column;
    }

}