* {
  font-family: "Noto Sans KR", sans-serif;
  box-sizing: border-box;
  --color-purple: rgb(110, 60, 168);
  --color-light-gray: rgb(240, 240, 240);
  --color-dark-gray: rgb(104, 104, 103);
}

header {
  background: var(--color-light-gray);
  height: 40%;
  padding: 3rem 20rem;
}

header h1,
h2,
h3 {
  text-transform: uppercase;
}

header p {
  color: var(--color-dark-gray);
}

nav {
  padding: 0 19rem;
  display: flex;
  margin: 1rem;
}

nav p {
  padding: 1rem;
}

nav a {
  width: 10rem;
  height: 3rem;
  text-decoration: none;
  font-size: 1rem;
  color: black;
  font-weight: 500;
  align-items: center;
}

nav a:hover {
  color: var(--color-purple);
  cursor: pointer;
}

img {
  width: 100%;
  height: auto;
}

h4 {
  text-transform: uppercase;
}

.top-content,
.bottom-content {
  display: flex;
  margin: 0 18rem;
}

.col-left {
  margin: 2rem;
  width: 50%;
}

.col-right {
  margin: 2.5rem;
  width: 100%;
}

.col-right .logos {
  display: flex;
  flex-flow: row wrap;
  position: relative;
}

.col-right .logos img {
  width: 1.5rem;
  padding: 0.8rem;
  margin: 0.4rem;
  flex: 0 1 calc(24% - 8px); /*this is for align 4 items in a row, 24% -8 is for adjusting margin part */
}

footer {
  background: var(--color-purple);
  width: 100%;
  justify-content: space-around;
  color: #fff;
  padding: 0 18rem;
}

footer .map iframe {
  width: 200px;
  height: 200px;
  border: 0;
}

footer ul {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
}

footer ul .list-wrapper {
  position: relative;
  display: flex;
  padding: 0 2rem;
}

footer .content {
  position: relative;
}

footer h6 {
  font-size: 1.25rem;
  text-transform: uppercase;
  margin-block-end: unset;
}

.content .small-list {
  display: flex;
  flex-direction: column;
}

.content a {
  display: flex;
  list-style: none;
  text-decoration-line: none;
  align-items: center;
  color: #fff;
}

@media (min-width: 1200px) {
  header {
    font-size: 2rem;
  }
  nav a {
    font-size: 1.75rem;
  }
  h2,
  footer h6 {
    font-size: 1.8rem;
  }
  h4 {
    font-size: 1.5rem;
  }
  p {
    font-size: 1.4rem;
  }
  .col-right .logos img {
    width: 3rem;
    padding: 2rem;
    margin: 0;
    flex: 0 1 calc(24%);
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  header {
    padding: 2rem 4rem;
  }

  nav {
    padding: 0 3rem;
  }

  .top-content,
  .bottom-content {
    margin: 0 5rem;
  }

  .col-right .logos img {
    width: 3rem;
    margin: 0.3rem;
    padding: 0.7rem;
  }

  footer {
    padding: unset;
  }

  footer h6 {
    padding-bottom: 0.75rem;
    font-size: 1rem;
  }

  footer .map iframe {
    width: 100px;
    height: 100px;
  }

  footer p,
  a {
    font-size: 0.8rem;
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  header {
    padding: 3rem 5rem;
  }

  nav {
    padding: 0 4rem;
    margin: 0;
  }

  .top-content,
  .bottom-content {
    display: block;
    margin: unset;
  }

  .col-right,
  .col-left {
    width: 100%;
    padding: 1.5rem;
    margin: 0;
  }

  main h2 {
    font-size: 1.25rem;
  }

  main h4 {
    font-size: 1rem;
  }

  main p,
  footer p,
  a {
    font-size: 0.75rem;
  }

  .col-right .logos img {
    width: 20px;
    margin: 0.4rem;
    padding: 2.125rem;
    flex: 0 1 calc(24% - 8px);
  }

  footer {
    padding: unset;
  }

  footer .content {
    padding: 1rem;
  }
  footer h6 {
    font-size: 1.25rem;
  }

  footer p,
  a {
    font-size: 1rem;
  }

  footer ul {
    display: block;
  }
}

@media (max-width: 480px) {
  header {
    padding: 1rem 2rem;
  }

  header h6 {
    font-size: 1.75rem;
  }

  nav {
    padding: 0 1rem;
  }

  nav p {
    padding: 0.5rem;
  }

  nav a {
    font-size: 0.75rem;
  }

  .top-content,
  .bottom-content {
    display: block;
    margin: unset;
  }

  main h2 {
    font-size: 1.25rem;
  }

  main h4 {
    font-size: 1rem;
  }

  main p,
  footer p,
  a {
    font-size: 0.75rem;
  }

  .col-right .logos img {
    width: 1rem;
    padding: 1rem;
    margin: 0.5rem;
  }

  .col-right,
  .col-left {
    margin: 1rem;
    width: fit-content;
  }

  footer {
    padding: unset;
  }

  footer .content {
    padding: 1rem;
  }
  footer h6 {
    font-size: 0.8rem;
  }

  footer ul {
    display: block;
  }
}
